# __Title__

If you like this, you may want to experiment with a little markdown.

## __Process__

1. Collection
2. Cleaning
3. Subsetting
4. Model Selection

### __Collection__

After obtaining the raw data from an online source, the data must be converted into a format that Python can use. In order to import and manipulate this data, pandas, a free Python library, will be used. Below is code that creates a dataframe for our data.

In [2]:
import pandas as pd

col_names = ["Origin", "Destination", "Origin City", "Destination City", "Passengers", "Seats", "Flights", "Distance",
      "Fly Date", "Origin Population", "Destination Population"]
data = pd.read_csv(r"data/flight_edges.tsv", sep="\t", names=col_names)

data

,Origin,Destination,Origin City,Destination City,Passengers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population
0,MHK,AMW,"Manhattan, KS","Ames, IA",1,30,1,254.0,200810,122049,86219
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034
...,...,...,...,...,...,...,...,...,...,...,...
3606798,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",281,969,51,119.0,200902,2828990,46457
3606799,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",245,1026,54,119.0,200911,2828990,46457
3606800,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",363,1273,67,119.0,200908,2828990,46457
3606801,CGI,TBN,"Cape Girardeau, MO","Fort Leonard Wood, MO",2,19,1,146.0,200908,93712,46457
3606802,FWA,OH1,"Fort Wayne, IN","Washington Court House, OH",0,0,1,135.0,200309,398574,28133

*__Converting month and year to datetime objects and setting them as the index.__*

In [3]:
data.loc[:, "Fly Date"] = pd.to_datetime(data.loc[:, "Fly Date"].copy(), format="%Y%m")
data.set_index("Fly Date", inplace=True)
data = data.sort_index()

data

,Origin,Destination,Origin City,Destination City,Passengers,Seats,Flights,Distance,Origin Population,Destination Population
Fly Date,,,,,,,,,,
1990-01-01,SEA,ORD,"Seattle, WA","Chicago, IL",1713,4410,30,1721.0,5154164,16395048
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1476,4619,31,404.0,2103367,16868983
1990-01-01,CRW,ROA,"Charleston, WV","Roanoke, VA",388,2100,21,114.0,307480,269195
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1337,3348,31,404.0,2103367,16868983
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",2787,4888,52,404.0,2103367,16868983
...,...,...,...,...,...,...,...,...,...,...
2009-12-01,CLE,CLT,"Cleveland, OH","Charlotte, NC",513,600,12,430.0,2091286,1745524
2009-12-01,CLE,CLT,"Cleveland, OH","Charlotte, NC",944,1150,23,430.0,2091286,1745524
2009-12-01,SAT,DRT,"San Antonio, TX","Del Rio, TX",0,0,39,152.0,2072128,48165
2009-12-01,DTW,BTV,"Detroit, MI","Burlington, VT",3852,4550,91,536.0,8806874,208055
2009-12-01,YKM,GEG,"Yakima, WA","Spokane, WA",0,0,2,159.0,239054,468684

*__Demonstration of the dataframe__*

In [4]:
data['Passengers'].max()

89597

In [5]:
data.loc['1990']

,Origin,Destination,Origin City,Destination City,Passengers,Seats,Flights,Distance,Origin Population,Destination Population
Fly Date,,,,,,,,,,
1990-01-01,SEA,ORD,"Seattle, WA","Chicago, IL",1713,4410,30,1721.0,5154164,16395048
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1476,4619,31,404.0,2103367,16868983
1990-01-01,CRW,ROA,"Charleston, WV","Roanoke, VA",388,2100,21,114.0,307480,269195
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1337,3348,31,404.0,2103367,16868983
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",2787,4888,52,404.0,2103367,16868983
...,...,...,...,...,...,...,...,...,...,...
1990-12-01,BDL,PIT,"Hartford, CT","Pittsburgh, PA",152,200,2,406.0,1124185,2468674
1990-12-01,SEA,LAX,"Seattle, WA","Los Angeles, CA",391,640,5,954.0,5154164,22585772
1990-12-01,JFK,RDU,"New York, NY","Raleigh, NC",41,118,1,426.0,33737966,548230
1990-12-01,DFW,TPA,"Dallas, TX","Tampa, FL",1070,3926,13,929.0,8019250,2075572
1990-12-01,IND,EWR,"Indianapolis, IN","Newark, NJ",428,1731,12,644.0,1299152,16868983

In [6]:
data.query('index == 1990')

,Origin,Destination,Origin City,Destination City,Passengers,Seats,Flights,Distance,Origin Population,Destination Population
Fly Date,,,,,,,,,,
1990-01-01,SEA,ORD,"Seattle, WA","Chicago, IL",1713,4410,30,1721.0,5154164,16395048
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1476,4619,31,404.0,2103367,16868983
1990-01-01,CRW,ROA,"Charleston, WV","Roanoke, VA",388,2100,21,114.0,307480,269195
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",1337,3348,31,404.0,2103367,16868983
1990-01-01,CLE,EWR,"Cleveland, OH","Newark, NJ",2787,4888,52,404.0,2103367,16868983
...,...,...,...,...,...,...,...,...,...,...
1990-01-01,ORD,CLE,"Chicago, IL","Cleveland, OH",512,1662,16,316.0,16395048,2103367
1990-01-01,CHA,GSO,"Chattanooga, TN","Greensboro, NC",28,63,1,305.0,433423,541858
1990-01-01,GSO,RDU,"Greensboro, NC","Raleigh, NC",88,603,5,67.0,541858,548230
1990-01-01,BNA,ATL,"Nashville, TN","Atlanta, GA",2507,4485,37,214.0,1052116,3087755
1990-01-01,JFK,BOS,"New York, NY","Boston, MA",5813,8760,60,187.0,33737966,8269386

In [7]:
data.loc['1990']['Passengers'].max()

54564

### __Cleaning__

Once the data has been imported into Python, it must be manipulated into a usable form. Below is an example of this, showing the maximum of each column in each year.

In [ ]:
num_cols = ['Passengers', 'Seats', 'Flights', 'Distance', 'Origin Population', 'Destination Population']
data_yearly_max = data[num_cols].resample('Y').max()

data_yearly_max

In [ ]:
data_yearly_mean = data[num_cols].resample('Y').mean()

data_yearly_mean

In [ ]:
data_monthly_mean = data[num_cols].resample('M').mean()

data_monthly_mean

In [ ]:
data_3m_roll = data_monthly_mean[num_cols].rolling(window=3, center=True).mean()

data_3m_roll

In [ ]:
data_monthly_mean = data[num_cols].groupby(data.index).mean()

data_monthly_mean

*__Using matplotlib, a graphing library, to plot the previously examples__*

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

fig, ax = plt.subplots(figsize=(11, 4))

# plot yearly mean data
ax.plot(data_yearly_mean['Passengers'], color='0.2', linewidth=2, label='Yearly Mean')

# plot monthly rolling mean
ax.plot(data_3m_roll['Passengers'], linewidth=3, label='3-m Rolling Window Mean')

# plot monthly sums
ax.plot(data_monthly_mean['Passengers'], marker='.', markersize=2, color='0.8', linestyle='None', label='Monthly Sum')

# Pretty it up
ax.xaxis.set_major_locator(mdates.YearLocator())
ax.legend()
ax.set_xlabel('Year')
ax.set_ylabel('Passengers')
ax.set_title('Passenger Trends')

*__Using seaborn, a different graphing library, to plot a new example__*

In [ ]:
import seaborn as sns


dat2 = data[data["Destination"] == "MFR"]


dat2 = dat2[['Passengers', 'Flights']]
dat2 = dat2.groupby("Fly Date").sum()
dat2['Average'] = dat2['Passengers'] / dat2['Flights']
dat2['Year'] = dat2.index.year

sns.set_style('whitegrid')
sns.boxplot(data=dat2, x='Year', y='Passengers')
plt.xticks(rotation=45)

### Time series forecasting
- Goal: Predict x
- Training Data: 
- Test Data:
- Performance Metric:

In [ ]:
data

*__Below is the data that we will use for a model__*

In [ ]:
numData = data[num_cols]
numData

In [ ]:
data_MFR = data[data["Destination"] == "MFR"]
data_passenger = data_MFR[["Passengers"]]
data_passenger

In [ ]:
data_passenger = data_passenger.groupby(data_passenger.index).sum()
data_passenger

In [ ]:
#Create new columns and drop rows with NaN present
data_passenger["Previous"] = data_passenger["Passengers"].shift(1)
data_passenger["Difference"] = data_passenger["Passengers"].diff()
data_passenger = data_passenger.dropna()
data_passenger

### Subsetting

Now that we have the dataframe formatted into the correct type of data, we have to break the data apart into a section to train our model on and a section to test that trained model on. In the code below, we subset all the data from 2008 and before into the training dataframe and the data from 2009 into the testing dataframe. While we are using a package that can do this for us, scikit-learn, understanding the premise behind the functions allows us to understand their importance.

In [ ]:
train = data_passenger.loc[:'2008', 'Passengers']

In [ ]:
X_train = data_passenger[:'2008'].drop(["Passengers"], axis=1)
X_test = data_passenger['2009':].drop(["Passengers"], axis=1)

y_train = data_passenger[:'2008'].drop(["Previous", "Difference"], axis=1)
y_test = data_passenger['2009':].drop(["Previous", "Difference"], axis=1)

#y_train = data_passenger.loc[:'2008', 'Passengers']
#y_test = data_passenger.loc['2009':, 'Passengers']

y_test

In [ ]:
y_train

*__Below we plot a naive forecast, which is where our prediction for each of the test values is simply the last value of the training set__*

In [ ]:
y_hat_naive = y_test.copy()
y_hat_naive['naive_forecast'] = y_test['Passengers'][-1]

print(y_hat_naive)

plt.plot(y_train, label='Training data')
plt.plot(y_test, label='Test data')
plt.plot(y_hat_naive['naive_forecast'], label='Naive forecast')
plt.legend()
plt.title('Naive Forecasting Model')
plt.show()

### Model Selection

There are many different types of models that will forecast data, timeseries or otherwise. Rather than guess which model will best fit our data, we can use statistical tests in order to find out what the best model will be for us. To start with this, we will need to use a couple metrics to measure the accuracy of our model.

*__Metrics to test our prediction's accuracy__*

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
def metrics(y_true, y_pred):
    r2 = r2_score(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    print(r2, mse, sep = "\n")
    
metrics([1, 2, 3],[.8, 1.9, 2.7])

In [ ]:
metrics(y_test, y_hat_naive["naive_forecast"])

As you can see above, the $R^2$ value of the model is negative, while the mean squared error is very high, meaning that, as expected, the naive forecast of the model isn't a very good predictor of the actual data.

In [ ]:
# from sklearn import linear_model
# y_hat_linear = linear_model.LinearRegression()
# y_hat_linear.fit(X_train, y_train)
# y_hat_linear.predict(X_test)

*__One of the models used for timeseries forecasting, sourced from the statsmodels library__*

In [ ]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing
import numpy as np
model = ExponentialSmoothing(np.asarray(y_train["Passengers"]), seasonal_periods = 12, trend='additive', seasonal=None)
model_fit = model.fit(optimized=True)
model_fit.params

In [ ]:
y_hat_holt = y_test.copy()
y_hat_holt["holt_forecast"] = model_fit.forecast(len(y_test))

plt.plot(y_train, label='Training data')
plt.plot(y_test, label='Test data')
plt.plot(y_hat_holt['holt_forecast'], label='Holt forecast')
plt.legend()
plt.title('Holt Forecasting Model')
plt.show()

In [ ]:
metrics(y_test, y_hat_holt["holt_forecast"])

As we can see from the metrics, this model is slightly better than the naive method, but still isn't very useful to us yet.

*__The same model with different parameters__*

In [ ]:
model = ExponentialSmoothing(np.asarray(y_train["Passengers"]), seasonal_periods = 12, trend='add', seasonal='add')
model_fit = model.fit(optimized=True)
model_fit.params

In [ ]:
y_hat_holt_add = y_test.copy()
y_hat_holt_add["holt_forecast"] = model_fit.forecast(len(y_test))

plt.plot(y_train, label='Training data')
plt.plot(y_test, label='Test data')
plt.plot(y_hat_holt_add['holt_forecast'], label='Holt forecast')
plt.legend()
plt.title('Holt Forecasting Model (with add)')
plt.show()

In [ ]:
metrics(y_test, y_hat_holt_add["holt_forecast"])

These metrics are much better, and, as indicated by the graph, predict the data much more accurately.

The next step is to make a function that takes in the model's name and statsmodel function to call just one function per model to show all these graphs!

In [ ]:
def test_model(name, model):
    global y_test, y_train
    
    model_fit = model.fit()
    #y_hat_model=model_fit.forecast(len(y_test))
    y_hat_model = y_test.copy()
    y_hat_model[name] = model_fit.forecast(len(y_test))
    
    plt.plot(y_train, label='Training data')
    plt.plot(y_test, label='Test data')
    plt.plot(y_hat_model[name], label=name)
    
    plt.legend()
    plt.title(name)
    plt.show()
    
    metrics(y_test, y_hat_model[name])

### Testing out models from statsmodels

In [ ]:
test_model("Holt Forecasting Model (with add)", ExponentialSmoothing(np.asarray(y_train["Passengers"]), seasonal_periods = 12, trend='mul', seasonal='add'))

In [ ]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
test_model("Simple Exponential Forecasting Model", SimpleExpSmoothing(np.asarray(y_train["Passengers"])))

This is the naive forecasting that we implemented manually from before

In [ ]:
from statsmodels.tsa.holtwinters import Holt
test_model("Holt Forecasting (but different?)", Holt(np.asarray(y_train["Passengers"]), exponential=True, damped_trend=True))

In [ ]:
from statsmodels.tsa.exponential_smoothing.ets import ETSModel
test_model("ETS (Error, Trend, and Seasonality) Model", ETSModel(np.asarray(y_train['Passengers']), error='mul', trend='add', seasonal='mul', seasonal_periods=12))

Quite frankly, I don't know what these parameters mean at the moment, but the graph matches best when they are set this way. So far this seems the most accurate prediction model.

### Future Work
- Explain statistical models behind the imported functions
    - Holt Winters
- Explanation of parameters in the models
    - Trend
    - Seasonal
- Explain Time Series
- Select some metrics to select a model
- Select a model
- Explain stationary vs non-stationary
- Explain packages used

### Trend and Detrending
- Adfuller Testing (Checking for Trend)
- Box Cox (Decreasing Variance)
- Differencing (Detrending)

In [ ]:
from statsmodels.tsa.stattools import adfuller
adfuller(data_passenger["Passengers"])[1]

In [ ]:
adfuller(data_passenger["Passengers"].diff().dropna())[1]

In [ ]:
from scipy.stats import boxcox
x=boxcox(data_passenger["Passengers"])
adfuller(pd.Series(x[0]).diff().dropna())[1]

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# def metrics(y_true, y_pred):
#     r2 = r2_score(y_true, y_pred)
#     mse = mean_squared_error(y_true, y_pred)
#     mae = mean_absolute_error(y_true, y_pred)
#     return r2, mse, mae

def compare(models):
    global y_test, y_train
    
    y_hat_model = y_test.copy()
    y_hat_model["val"] = pd.Series(models.values())
    
    name = pd.Series(models.keys())
    
    values = []
    for model in models.values():
        model_fit = model.fit()
        
        values.append(y_test.copy())
        values[-1]["val"] = model_fit.forecast(len(y_test))

    values = pd.Series(values)
    
    r2 = values.map(lambda x: r2_score(y_test, x["val"]))
    r2.index = name
    
    mse = values.map(lambda x: mean_squared_error(y_test, x["val"]))
    mse.index = name
    
    mae = values.map(lambda x: mean_absolute_error(y_test, x["val"]))
    mae.index = name
    
    print(r2)
    table = pd.DataFrame(data=[r2, mse, mae], columns=["r2","mse","mae"], index=name)
    
    return table
    
from statsmodels.tsa.holtwinters import SimpleExpSmoothing, ExponentialSmoothing
from statsmodels.tsa.exponential_smoothing.ets import ETSModel
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
dct = {"Simple Exponential Smoothing":SimpleExpSmoothing(np.asarray(y_train["Passengers"])),
       "Holt Winters":ExponentialSmoothing(np.asarray(y_train["Passengers"]), seasonal_periods = 12, trend='mul', seasonal='add'),
       "Error, Trend, and Seasonality":ETSModel(np.asarray(y_train["Passengers"]), error='mul', trend='add', seasonal='mul', seasonal_periods=12)}

compare(dct)

In [ ]:
# model = ARIMA(y_train["Passengers"], trend='ct')
# model = model.fit()

# yhat = y_test.copy()
# yhat["v"] = model.forecast(len(y_test))

# metrics(y_test, yhat["v"])

test_model("ARIMA", ARIMA(y_train["Passengers"], trend='ct'))

In [ ]:
test_model("SARIMAX", SARIMAX(y_test["Passengers"], order=(1,0,0), seasonal_order=(1,0,1,12), trend='ct'))